.add {
    .wrapper {
        display: flex;
    }
    &__back {
        width: fit-content;
        border: none;
        text-decoration: none;
        position: absolute;
        left: 15px;
        top: 15px;
        color: inherit;
        line-height: 1;
        font-size: 20px;
        z-index: 99999;
        mix-blend-mode: difference;
    }
    .submit {
        background: rgb(255, 251, 0);
        border: none;
        color: var(--primary-black);
        height: 40px;
        max-width: 150px;
        width: 150px;
        font-family: var(--t-rk);
        margin: 20px auto;
        display: block;
    }
    .autoComplete {
        position: relative;
    }
    .categories {
        color: rgb(150, 150, 150);
        text-transform: capitalize;
        line-height: 2;
        &-add {
            outline: 0;
            border: none;
            margin: 0 3px;
            color: var(--primary-black);
            width: 40px;
            height: 40px;
            background: rgb(255, 251, 0);
            font-size: 14px;
            line-height: 0.5;
        }
    }

    .ou {
        font-family: var(--t-rk);
        color: var(--light-grey);
        font-size: 60px;
        line-height: 3;
        text-align: center;
        text-transform: uppercase;
        @media (max-width: 599px) {
            line-height: 3;
            font-size: 40px;
        }
    }
    .tmdb {
        font-size: 24px;
        text-align: center;
        font-family: var(--t-rk);
        color: var(--light-grey);
        padding: 20px;
        line-height: 3;
        @media (max-width: 599px) {
            line-height: 2;
            font-size: 16px;
            word-spacing: 3px;
        }
    }
    .movie-banner {
        position: relative;
        min-height: 500px;
        .bg {
            position: absolute;
            inset: 0;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        .title {
            position: absolute;
            top: 30%;
            left: 20px;
            right: 0;
            font-size: 60px;
            z-index: 9999;
            font-family: var(--t-rk);
        }
        &:after {
            content: "";
            width: 100%;
            height: 100%;
            background: linear-gradient(transparent, var(--primary-black));
            display: block;
            position: absolute;
            inset: 0;
        }
        .input {
            padding: 0 1em;
            max-width: 500px;
            min-width: 180px;
            width: 100%;
            height: 40px;
            background-color: transparent;
            border: white solid 1px;
            color: #fff;
            outline: 0;
            box-shadow: none;
            border-radius: 0.25em;
        }
    }
    .similar-movies {
        scrollbar-width: none; /* For Firefox */
        -ms-overflow-style: none; /* For Internet Explorer and Edge */
        cursor: grab;
        overflow-x: scroll;
        padding: 0 20px;
        &.active {
            cursor: grabbing;
            .film {
                transition: all 0.2s;
            }
        }
        &::-webkit-scrollbar {
            width: 0px; /* For Chrome, Safari, and Opera */
        }
        display: flex;
        gap: 30px;
        .film {
            transition: all 0.2s;
            min-width: 170px;
            font-size: 16px;
            &__date {
                color: rgb(150, 150, 150);
                font-size: 14px;
                font-family: var(--t-rk);
                text-align: center;
            }
            &__name {
                text-align: center;
                width: 100%;
                font-size: 16px;
                font-family: var(--t-montserrat);
                text-align: center;
            }
            &__delete {
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
                background: transparent;
                outline: 0;
                border: 0;
                color: var(--light-grey);
            }
        }
    }

    .search {
        .text {
            &.active {
                border-bottom: none;
                border-bottom-left-radius: 0;
                border-bottom-right-radius: 0;
            }
        }
        .result {
            &.active {
                border: white 1px solid;
                border-top: none;
                p {
                    padding: 5px 10px;
                    font-family: var(--t-montserrat);
                    font-size: 14px;
                    transition: all cubic-bezier(0.39, 0.575, 0.565, 1) 0.3s;
                    &:hover {
                        color: var(--grey);
                        transition: all cubic-bezier(0.39, 0.575, 0.565, 1) 0.3s;
                    }
                }
            }
            top: 100%;
            left: 0;
            position: absolute;
            background-color: var(--primary-black);
            right: 0;
        }
    }
    &__title {
        font-family: var(--t-rk);
        color: var(--light-grey);
        font-size: 30px;
        text-align: center;
        text-transform: uppercase;
        font-family: var(--t-montserrat);
    }

    .actors {
        display: flex;
        flex-wrap: wrap;
        padding: 10px;
        justify-content: center;
        &__form {
            flex-direction: column;
            display: flex;
            button {
                margin: 20px 0;
                background: rgb(255, 251, 0);
                border: none;
                color: var(--primary-black);
                height: 40px;
                max-width: 100px;
                font-family: var(--t-rk);
            }
        }
        gap: 10px;
        .actor {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100px;
            position: relative;
            &__picture {
                width: 60px;
                height: 60px;
                object-fit: cover;
                border-radius: 50%;
            }
            &__delete {
                position: absolute;
                top: -10%;
                right: 0;
                background: transparent;
                outline: 0;
                border: 0;
                color: var(--light-grey);
            }
            &__name {
                font-family: "Reem Kufi", sans-serif;
                font-size: 14px;
                line-height: 1.5;
                text-align: center;
            }
            &__character {
                font-size: 12px;
                text-align: center;
                line-height: 1.4;
                font-family: "Montserrat", sans-serif;
                color: rgb(150, 150, 150);
            }
        }
    }
    &__form {
        &__block {
            padding: 20px;
            display: flex;
            flex-direction: column;
            font-family: var(--t-montserrat);
            display: flex;
            align-items: center;
            input.text {
                height: 40px;
            }
            #date {
                color: var(--grey);
                outline: none;
                background: transparent;
                padding: 10px;
                border: none;
                border: 1px double var(--grey);
                width: fit-content;
            }
            input[type="text"],
            input[type="url"],
            textarea {
                padding: 0 1em;
                max-width: 500px;
                min-width: 180px;
                width: 100%;
                height: 40px;
                background-color: transparent;
                border: white solid 1px;
                color: #fff;
                outline: 0;
                box-shadow: none;
                border-radius: 0.25em;
            }
            textarea {
                resize: none;
                height: 200px;
            }
        }
        &__label {
            font-family: var(--t-montserrat);
            font-size: clamp(22px, 1.5vw, 26px);
            line-height: 2.5;
            color: var(--light-grey);
        }
    }
}
