.add {
    padding: 20px;
    .similar-movies {
        scrollbar-width: none; /* For Firefox */
        -ms-overflow-style: none; /* For Internet Explorer and Edge */

        &::-webkit-scrollbar {
            width: 0px; /* For Chrome, Safari, and Opera */
        }
        display: flex;
        gap: 30px;
        overflow-x: scroll;
        .film {
            min-width: 100px;
        }
        }
    .search {
        position: relative;
        padding: 0;
        .text {
            &.active {
                border-bottom: none;
            }
        }
        .result {
            &.active {
                border: rgb(255, 251, 0) 1px solid;
                border-top: none;
                p {
                    padding: 5px 10px;
                    font-family: var(--t-montserrat);
                    font-size: 14px;
                    transition: all cubic-bezier(0.39, 0.575, 0.565, 1) 0.3s;
                    &:hover {
                        color : var(--grey);
                        transition: all cubic-bezier(0.39, 0.575, 0.565, 1) 0.3s;
                    }
                }
            }
            top: 100%;
            left: 0;
            position: absolute;
            background-color: var(--primary-black);
            right: 0;
            max-width: 500px;
            min-width: 280px;
            width: 60%;
        }
    }
    &__title {
        font-family: var(--t-rk);
        color: var(--light-grey);
        font-size: 30px;
        text-align: center;
        text-transform: uppercase;
        font-family: var(--t-montserrat);
    }

    .actors {
        display: flex;
        flex-wrap: wrap;
        padding: 10px;

        &__form {
            display: flex;
            flex-direction: column;
            button {
                margin: 20px 0;
                background: rgb(255, 251, 0);
                border: none;
                color: var(--primary-black);
                height: 40px;
                max-width: 100px;
                font-family: var(--t-rk);
            }
        }
        gap: 10px;
        .actor {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100px;
            &__picture {
                width: 60px;
                height: 60px;
                object-fit: cover;
                border-radius: 50%;
            }
            &__name {
                font-family: "Reem Kufi", sans-serif;
                font-size: 14px;
                line-height: 1.5;
                text-align: center;
            }
            &__character {
                font-size: 12px;
                text-align: center;
                line-height: 1.4;
                font-family: "Montserrat", sans-serif;
                color: rgb(150, 150, 150);
            }
        }
    }
    &__form {
        &__block {
            padding: 20px 0;
            display: flex;
            flex-direction: column;
            font-family: var(--t-montserrat);
            input.text {
                height: 40px;
            }
            #date {
                color: var(--grey);
                outline: none;
                background: transparent;
                padding: 10px;
                border: none;
                border: 1px double var(--grey);
                width: fit-content;
            }
            input[type="text"],input[type="url"],
            textarea {
                font-size: 14px;
                color: var(--grey);
                outline: none;
                background: transparent;
                padding: 10px;
                border: 1px double rgb(255, 251, 0);
                max-width: 500px;
                min-width: 280px;
                width: 60%;
            }
            textarea {
                resize: none;
            }
        }
        &__label {
            font-family: var(--t-montserrat);
            font-size: clamp(22px, 1.5vw, 26px);
            line-height: 2.5;
            color: var(--light-grey);
        }
    }
}
