.modal {
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 99999999;
    background: rgba(0, 0, 0, 0.795);
    display: flex;
    justify-content: center;
    align-items: center;
    &__wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: fit-content;
        gap: 20px;
        border: 1px solid white;
        border-radius: 0.25rem;
        padding: 50px 25px;
        p {
            font-family: var(--t-rk);
            font-size: 35px;
        }
        &__btn {
            display: flex;
            justify-content: space-evenly;
            button {
                font-family: var(--t-montserrat);
                background: 0;
                color: var(--primary-white);
                width: 200px;
            }
        }
    }
}
