.singlemovie {
    margin: 20px 0;
    width: 100%;
    display: flex;
    align-items: center;
    height: 140px;
    position: relative;
    &__actions {
        position: absolute;
        width: fit-content;
        bottom: 0px;
        right: 0;
        &__edit,
        &__delete {
            background: none;
            border: none;
            outline: none;
            font-size: 16px;
            color: var(--light-grey);
        }
    }
    &__poster {
        width: auto;
        height: 140px;
        object-fit: contain;
        border-radius: 8px;
    }
    &__infos {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-left: 10px;
        &__title {
            font-size: clamp(14px, 1.171875vw, 18px);
            font-weight: 700;
            text-decoration: underline;
            cursor: pointer;
            color: inherit;
        }
        &__desc {
            font-size: 14px;
            font-size: clamp(12px, 0.9114583333333334vw, 14px);
            line-height: 1.3;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 4;
            -webkit-box-orient: vertical;
            overflow: hidden;
            color: var(--light-grey);
        }
        &__date {
            text-transform: uppercase;
            font-size: 14px;
            letter-spacing: 3px;
        }
    }
}
